{% extends "@FOSUser/layout.html.twig" %}

{% block title %}Mot de passe perdu{% endblock %}

{% block fos_user_content %}

	<div class="col-lg-8 m-auto">
		<h1 class="main-title mt-2">MOT DE PASSE PERDU</h1>
	</div>

	<div class="col-lg-7 m-auto">
  	{% include "@FOSUser/Resetting/request_content.html.twig" %}
	</div>

{% endblock fos_user_content %}